@model IEnumerable<DummyMVC.Models.Karyawan>

@{
    ViewData["Title"] = "Index";

    Pager pager = new Pager();
    int pageNo = 0;
    if (ViewBag.SearchPager != null)
    {
        pager = ViewBag.SearchPager;
        pageNo = pager.CurrentPage;
    }

}

<style>
    .avatar {
        vertical-align: middle;
        width: 50px;
        height: 50px;
        border-radius: 50%;
    }
</style>

<div class="container btn-group">
    <div class="col-10">
        <h1>Daftar Karyawan</h1>
    </div>
    <div class="col-2 btn-group justify-content-end p-3">
        <a asp-action="Create" class="btn btn-sm btn-success">Create New</a>
    </div>
</div>

<partial name="_pager" model="@pager" />
<table class="table">
    <thead>
        <tr>
            <th>
                No Karyawan
            </th>
            <th>
                Nama Karyawan
            </th>
            <th>
                Tanggal Lahir
            </th>
            <th>
                Alamat
            </th>
            <th>
                Email
            </th>
            <th>
                Umur
            </th>
            <th>
                Actions
            </th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    @Html.DisplayFor(modelItem => item.NoKaryawan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.NamaKaryawan)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.TanggalLahir)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Alamat)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Email)
                </td>
                <td>
                    @Html.DisplayFor(modelItem => item.Umur)
                </td>
                <td>
                    <a class="btn btn-warning" asp-action="Edit" asp-route-id="@item.Id" role="button">Edit</a>
                    <a class="btn btn-primary" asp-action="Details" asp-route-id="@item.Id" role="button">Detail</a>
                    <a class="btn btn-danger" asp-action="Delete" asp-route-id="@item.Id" role="button">Delete</a>
                </td>
            </tr>
        }
    </tbody>
</table>
@*<partial name="_pager" model="@pager" />*@